.arxiv-nav-bar {
    background-color: #b31b1b;
    display: flex;
}
.pagination {
    text-align: center;
}
.arxiv-paper-item {
    color: black!important;
}
.arxiv-paper-author {
    color: #26a69a!important;
}

.arxiv-search-field {
    min-width: 70%;
}
.hint {
    text-align: center;
}